html, body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    background-color: lightcoral;
    background-size: 4em;
    border: 4px inset rgb(241, 25, 25);
    border-radius: 2%;
}